@page
@model petsk.Pages.don.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.IdCollectingNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.IdCollectingNavigation.IdCollecting)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donation.IdUserNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donation.IdUserNavigation.IdUser)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Donation.IdDonation" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
