@page
@model petsk.Pages.pe.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Nickname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.DescriptionP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.DescriptionP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.MedicalInformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.MedicalInformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.IdShelterNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.IdShelterNavigation.IdShelter)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Pet.IdPet" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
