@page
@model petsk.Pages.exp.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.TypeExpense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.TypeExpense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.AmountSpent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.AmountSpent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Photo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.IdCollectingNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.IdCollectingNavigation.DescriptionC)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Expense.IdExpenses" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
