@page
@model petsk.Pages.Coll.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.DescriptionC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.DescriptionC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.RequiredAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.RequiredAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.AlreadyAssembled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.AlreadyAssembled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.OpeningDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.OpeningDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.ClosingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.ClosingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.IdPet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.IdPetNavigation.Nickname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.IdShelter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.IdShelterNavigation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Collecting.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Collecting.IdUserNavigation.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Collecting.IdCollecting" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-page="./Index">Назад</a>
    </form>
</div>
